{"openapi":"3.0.3","info":{"title":"Common Models","version":"1.0.0"},"servers":[{"url":"https://api.picaos.com/v1/unified"}],"paths":{"/accounts":{"description":"List records","get":{"tags":["Accounts"],"summary":"List Accounts","description":"Get all Accounts records","parameters":[{"in":"query","name":"limit","description":"The maximum number of items to return.","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"cursor","description":"A cursor for pagination, indicating the position in the dataset from where to start returning results.","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"createdAfter","description":"Return items that were created after this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"createdBefore","description":"Return items that were created before this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"updatedAfter","description":"Return items that were last updated after this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"updatedBefore","description":"Return items that were last updated before this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"array","items":{"$ref":"#/components/schemas/Accounts"}},"pagination":{"type":"object","properties":{"nextCursor":{"type":"string","format":"string"},"previousCursor":{"type":"string","format":"string"},"limit":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":[{"id":"a1b2c3d4e5f6","name":"Main Bank Account","title":"Main Bank Account","description":"The bank account used for all day to day.","accountNumber":"123456789","accountCode":"A12","taxType":"Included","allowPayments":false,"showInExpenses":false,"accountType":"asset::bank","balance":10245.67,"currency":"USD","owner":{"id":"e789f6a1b2c3","title":"Mr.","fullName":"John A. Doe","firstName":"John","middleName":"Andrew","lastName":"Doe","email":"john.doe@example.com","phoneNumber":"+15551234567","dateOfBirth":"1980-07-12","addresses":[{"id":"d4e5f6a1b2c3","contactId":"a2b3c4d5e6f7","accountId":"a1b2c3d4e5f6","firstName":"John","lastName":"Doe","name":"John A. Doe","companyName":"Doe Enterprises","email":"j.doe@doeenterprises.com","phoneNumber":"+15557654321","street":"123 Main St","addressLine2":"Suite 100","city":"Anytown","province":"CA","region":"Bay Area","postalCode":"94016","postalCodeExtension":"1234","country":"USA","countryCode":"US","type":"home","geoLocation":{"latitude":37.7749,"longitude":-122.4194},"customFields":[{"id":"f6e5d4c3b2a1","fieldName":"ParkingSpot","fieldValue":"Reserved","fieldType":"text"}],"subdivisionCode":"CA"}],"defaultAddress":{"id":"d4e5f6a1b2c3","contactId":"a2b3c4d5e6f7","accountId":"a1b2c3d4e5f6","firstName":"John","lastName":"Doe","name":"John A. Doe","companyName":"Doe Enterprises","email":"j.doe@doeenterprises.com","phoneNumber":"+15557654321","street":"123 Main St","addressLine2":"Suite 100","city":"Anytown","province":"CA","region":"Bay Area","postalCode":"94016","postalCodeExtension":"1234","country":"USA","countryCode":"US","type":"home","geoLocation":{"latitude":37.7749,"longitude":-122.4194},"customFields":[{"id":"f6e5d4c3b2a1","fieldName":"ParkingSpot","fieldValue":"Reserved","fieldType":"text"}],"subdivisionCode":"CA"},"company":"Doe Enterprises","companyId":"001dedcba987","currency":"USD","notes":"VIP customer","createdAt":"2021-08-01T10:00:00Z","updatedAt":"2023-01-15T12:34:56Z","status":"active","customerSegment":"premium","customerType":"retail","loyaltyProgramMembership":"1234567890","preferredContactMethod":"email","tags":["VIP","long-term"],"metadata":"Special handling for all transactions.","socialProfiles":[{"type":"linkedin","username":"johndoe","displayName":"John A. Doe","url":"https://www.linkedin.com/in/johndoe","avatarUrl":"https://image.example.com/profile/johndoe.png","email":"john.doe@linkedexample.com","additionalInfo":null,"createdAt":"2018-08-15T10:00:00Z","updatedAt":"2020-09-20T15:43:21Z","active":true,"deleted":false}],"source":"Online Signup"},"createdAt":"2021-06-25T09:30:00Z","updatedAt":"2023-03-31T11:22:33Z","closedAt":null,"status":"active","transactions":[{"id":"b2c3d4e5f6a7","accountId":"a1b2c3d4e5f6","invoiceId":"cd4e5f6g7h8i9","orderId":"de5f6g7h8i9ja1","paymentMethod":{"id":"3d4e5f6g7h8i9","type":"credit card","provider":"Visa","accountNumber":"1234567890123456","expirationDate":"2025-12","cardholderName":"John A. Doe"},"amount":250,"taxAmount":0,"type":"deposit","date":"2023-03-28T14:30:00Z","currency":"USD","recipient":{"id":"f7e6d5c4b3a2","fullName":"Alice B. Smith","email":"alice.smith@example.com","phone":"+15559876"},"sender":{"id":"e789f6a1b2c3","fullName":"John A. Doe","email":"john.doe@example.com","phone":"+15551234567"},"description":"Monthly deposit","checkNumber":null,"transactionCategory":"deposit","tags":["monthly","savings"],"status":"cleared","transactionMethod":"online","transactionType":"sale","refund":null,"dispute":null,"metadata":null}],"branch":"Main Street Branch","notes":"Upgraded to Platinum Checking Account as of 2023.","interestRate":0.5,"overdraftLimit":500,"overdraftProtection":true,"isActive":true,"isDeleted":false,"modifyToken":"1"}],"passthrough":{},"pagination":{"cursor":"23e6534fa96e810b3","limit":100},"meta":{"timestamp":1737044569448,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getMany","commonModel":"Accounts","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"post":{"tags":["Accounts"],"summary":"Create Accounts","description":"Create a single Accounts record","parameters":[{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts"}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/Accounts"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":"a1b2c3d4e5f6","name":"Main Bank Account","title":"Main Bank Account","description":"The bank account used for all day to day.","accountNumber":"123456789","accountCode":"A12","taxType":"Included","allowPayments":false,"showInExpenses":false,"accountType":"asset::bank","balance":10245.67,"currency":"USD","owner":{"id":"e789f6a1b2c3","title":"Mr.","fullName":"John A. Doe","firstName":"John","middleName":"Andrew","lastName":"Doe","email":"john.doe@example.com","phoneNumber":"+15551234567","dateOfBirth":"1980-07-12","addresses":[{"id":"d4e5f6a1b2c3","contactId":"a2b3c4d5e6f7","accountId":"a1b2c3d4e5f6","firstName":"John","lastName":"Doe","name":"John A. Doe","companyName":"Doe Enterprises","email":"j.doe@doeenterprises.com","phoneNumber":"+15557654321","street":"123 Main St","addressLine2":"Suite 100","city":"Anytown","province":"CA","region":"Bay Area","postalCode":"94016","postalCodeExtension":"1234","country":"USA","countryCode":"US","type":"home","geoLocation":{"latitude":37.7749,"longitude":-122.4194},"customFields":[{"id":"f6e5d4c3b2a1","fieldName":"ParkingSpot","fieldValue":"Reserved","fieldType":"text"}],"subdivisionCode":"CA"}],"defaultAddress":{"id":"d4e5f6a1b2c3","contactId":"a2b3c4d5e6f7","accountId":"a1b2c3d4e5f6","firstName":"John","lastName":"Doe","name":"John A. Doe","companyName":"Doe Enterprises","email":"j.doe@doeenterprises.com","phoneNumber":"+15557654321","street":"123 Main St","addressLine2":"Suite 100","city":"Anytown","province":"CA","region":"Bay Area","postalCode":"94016","postalCodeExtension":"1234","country":"USA","countryCode":"US","type":"home","geoLocation":{"latitude":37.7749,"longitude":-122.4194},"customFields":[{"id":"f6e5d4c3b2a1","fieldName":"ParkingSpot","fieldValue":"Reserved","fieldType":"text"}],"subdivisionCode":"CA"},"company":"Doe Enterprises","companyId":"001dedcba987","currency":"USD","notes":"VIP customer","createdAt":"2021-08-01T10:00:00Z","updatedAt":"2023-01-15T12:34:56Z","status":"active","customerSegment":"premium","customerType":"retail","loyaltyProgramMembership":"1234567890","preferredContactMethod":"email","tags":["VIP","long-term"],"metadata":"Special handling for all transactions.","socialProfiles":[{"type":"linkedin","username":"johndoe","displayName":"John A. Doe","url":"https://www.linkedin.com/in/johndoe","avatarUrl":"https://image.example.com/profile/johndoe.png","email":"john.doe@linkedexample.com","additionalInfo":null,"createdAt":"2018-08-15T10:00:00Z","updatedAt":"2020-09-20T15:43:21Z","active":true,"deleted":false}],"source":"Online Signup"},"createdAt":"2021-06-25T09:30:00Z","updatedAt":"2023-03-31T11:22:33Z","closedAt":null,"status":"active","transactions":[{"id":"b2c3d4e5f6a7","accountId":"a1b2c3d4e5f6","invoiceId":"cd4e5f6g7h8i9","orderId":"de5f6g7h8i9ja1","paymentMethod":{"id":"3d4e5f6g7h8i9","type":"credit card","provider":"Visa","accountNumber":"1234567890123456","expirationDate":"2025-12","cardholderName":"John A. Doe"},"amount":250,"taxAmount":0,"type":"deposit","date":"2023-03-28T14:30:00Z","currency":"USD","recipient":{"id":"f7e6d5c4b3a2","fullName":"Alice B. Smith","email":"alice.smith@example.com","phone":"+15559876"},"sender":{"id":"e789f6a1b2c3","fullName":"John A. Doe","email":"john.doe@example.com","phone":"+15551234567"},"description":"Monthly deposit","checkNumber":null,"transactionCategory":"deposit","tags":["monthly","savings"],"status":"cleared","transactionMethod":"online","transactionType":"sale","refund":null,"dispute":null,"metadata":null}],"branch":"Main Street Branch","notes":"Upgraded to Platinum Checking Account as of 2023.","interestRate":0.5,"overdraftLimit":500,"overdraftProtection":true,"isActive":true,"isDeleted":false,"modifyToken":"1"},"passthrough":{},"meta":{"timestamp":1737044569448,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"create","commonModel":"Accounts","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/accounts/count":{"description":"Get count of records","get":{"tags":["Accounts"],"summary":"Get Accounts count","description":"Get the count of Accounts records","parameters":[{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"object","properties":{"count":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"count":1},"passthrough":{},"meta":{"timestamp":1737044569448,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getCount","commonModel":"Accounts","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Get Accounts","description":"Get a single Accounts record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/Accounts"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":"a1b2c3d4e5f6","name":"Main Bank Account","title":"Main Bank Account","description":"The bank account used for all day to day.","accountNumber":"123456789","accountCode":"A12","taxType":"Included","allowPayments":false,"showInExpenses":false,"accountType":"asset::bank","balance":10245.67,"currency":"USD","owner":{"id":"e789f6a1b2c3","title":"Mr.","fullName":"John A. Doe","firstName":"John","middleName":"Andrew","lastName":"Doe","email":"john.doe@example.com","phoneNumber":"+15551234567","dateOfBirth":"1980-07-12","addresses":[{"id":"d4e5f6a1b2c3","contactId":"a2b3c4d5e6f7","accountId":"a1b2c3d4e5f6","firstName":"John","lastName":"Doe","name":"John A. Doe","companyName":"Doe Enterprises","email":"j.doe@doeenterprises.com","phoneNumber":"+15557654321","street":"123 Main St","addressLine2":"Suite 100","city":"Anytown","province":"CA","region":"Bay Area","postalCode":"94016","postalCodeExtension":"1234","country":"USA","countryCode":"US","type":"home","geoLocation":{"latitude":37.7749,"longitude":-122.4194},"customFields":[{"id":"f6e5d4c3b2a1","fieldName":"ParkingSpot","fieldValue":"Reserved","fieldType":"text"}],"subdivisionCode":"CA"}],"defaultAddress":{"id":"d4e5f6a1b2c3","contactId":"a2b3c4d5e6f7","accountId":"a1b2c3d4e5f6","firstName":"John","lastName":"Doe","name":"John A. Doe","companyName":"Doe Enterprises","email":"j.doe@doeenterprises.com","phoneNumber":"+15557654321","street":"123 Main St","addressLine2":"Suite 100","city":"Anytown","province":"CA","region":"Bay Area","postalCode":"94016","postalCodeExtension":"1234","country":"USA","countryCode":"US","type":"home","geoLocation":{"latitude":37.7749,"longitude":-122.4194},"customFields":[{"id":"f6e5d4c3b2a1","fieldName":"ParkingSpot","fieldValue":"Reserved","fieldType":"text"}],"subdivisionCode":"CA"},"company":"Doe Enterprises","companyId":"001dedcba987","currency":"USD","notes":"VIP customer","createdAt":"2021-08-01T10:00:00Z","updatedAt":"2023-01-15T12:34:56Z","status":"active","customerSegment":"premium","customerType":"retail","loyaltyProgramMembership":"1234567890","preferredContactMethod":"email","tags":["VIP","long-term"],"metadata":"Special handling for all transactions.","socialProfiles":[{"type":"linkedin","username":"johndoe","displayName":"John A. Doe","url":"https://www.linkedin.com/in/johndoe","avatarUrl":"https://image.example.com/profile/johndoe.png","email":"john.doe@linkedexample.com","additionalInfo":null,"createdAt":"2018-08-15T10:00:00Z","updatedAt":"2020-09-20T15:43:21Z","active":true,"deleted":false}],"source":"Online Signup"},"createdAt":"2021-06-25T09:30:00Z","updatedAt":"2023-03-31T11:22:33Z","closedAt":null,"status":"active","transactions":[{"id":"b2c3d4e5f6a7","accountId":"a1b2c3d4e5f6","invoiceId":"cd4e5f6g7h8i9","orderId":"de5f6g7h8i9ja1","paymentMethod":{"id":"3d4e5f6g7h8i9","type":"credit card","provider":"Visa","accountNumber":"1234567890123456","expirationDate":"2025-12","cardholderName":"John A. Doe"},"amount":250,"taxAmount":0,"type":"deposit","date":"2023-03-28T14:30:00Z","currency":"USD","recipient":{"id":"f7e6d5c4b3a2","fullName":"Alice B. Smith","email":"alice.smith@example.com","phone":"+15559876"},"sender":{"id":"e789f6a1b2c3","fullName":"John A. Doe","email":"john.doe@example.com","phone":"+15551234567"},"description":"Monthly deposit","checkNumber":null,"transactionCategory":"deposit","tags":["monthly","savings"],"status":"cleared","transactionMethod":"online","transactionType":"sale","refund":null,"dispute":null,"metadata":null}],"branch":"Main Street Branch","notes":"Upgraded to Platinum Checking Account as of 2023.","interestRate":0.5,"overdraftLimit":500,"overdraftProtection":true,"isActive":true,"isDeleted":false,"modifyToken":"1"},"passthrough":{},"meta":{"timestamp":1737044569448,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getOne","commonModel":"Accounts","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"delete":{"tags":["Accounts"],"summary":"Delete Accounts","description":"Delete a single Accounts record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"},{"in":"query","name":"modifyToken","description":"The modified token of the model","deprecated":false,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/Accounts"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1737044569448,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"delete","commonModel":"Accounts","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"patch":{"tags":["Accounts"],"summary":"Update Accounts","description":"Update a single Accounts record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"},{"in":"query","name":"modifyToken","description":"The modified token of the model","deprecated":false,"schema":{"type":"string","format":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Accounts"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"object"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1737044569448,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"update","commonModel":"Accounts","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/attributes":{"description":"List records","get":{"tags":["Attributes"],"summary":"List Attributes","description":"Get all Attributes records","parameters":[{"in":"query","name":"limit","description":"The maximum number of items to return.","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"cursor","description":"A cursor for pagination, indicating the position in the dataset from where to start returning results.","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"createdAfter","description":"Return items that were created after this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"createdBefore","description":"Return items that were created before this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"updatedAfter","description":"Return items that were last updated after this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"updatedBefore","description":"Return items that were last updated before this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"array","items":{"$ref":"#/components/schemas/Attributes"}},"pagination":{"type":"object","properties":{"nextCursor":{"type":"string","format":"string"},"previousCursor":{"type":"string","format":"string"},"limit":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":[{"id":"88933028-3221-43c5-86ff-91e8dc36ea59","name":"Record ID","dataType":"string","modifyToken":"88933028-3221-43c5-86ff-91e8dc36ea59","slug":"record_id","commonModel":"Attributes","isRequired":false,"isUnique":true,"createdAt":"2024-08-20T06:10:44Z"}],"passthrough":{},"pagination":{"cursor":"23e6534fa96e810b3","limit":100},"meta":{"timestamp":1737044569410,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getMany","commonModel":"Attributes","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"post":{"tags":["Attributes"],"summary":"Create Attributes","description":"Create a single Attributes record","parameters":[{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attributes"}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/Attributes"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":"88933028-3221-43c5-86ff-91e8dc36ea59","name":"Record ID","dataType":"string","modifyToken":"88933028-3221-43c5-86ff-91e8dc36ea59","slug":"record_id","commonModel":"Attributes","isRequired":false,"isUnique":true,"createdAt":"2024-08-20T06:10:44Z"},"passthrough":{},"meta":{"timestamp":1737044569410,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"create","commonModel":"Attributes","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/attributes/count":{"description":"Get count of records","get":{"tags":["Attributes"],"summary":"Get Attributes count","description":"Get the count of Attributes records","parameters":[{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"object","properties":{"count":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"count":1},"passthrough":{},"meta":{"timestamp":1737044569411,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getCount","commonModel":"Attributes","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/attributes/{id}":{"get":{"tags":["Attributes"],"summary":"Get Attributes","description":"Get a single Attributes record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/Attributes"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":"88933028-3221-43c5-86ff-91e8dc36ea59","name":"Record ID","dataType":"string","modifyToken":"88933028-3221-43c5-86ff-91e8dc36ea59","slug":"record_id","commonModel":"Attributes","isRequired":false,"isUnique":true,"createdAt":"2024-08-20T06:10:44Z"},"passthrough":{},"meta":{"timestamp":1737044569410,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getOne","commonModel":"Attributes","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"delete":{"tags":["Attributes"],"summary":"Delete Attributes","description":"Delete a single Attributes record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"},{"in":"query","name":"modifyToken","description":"The modified token of the model","deprecated":false,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/Attributes"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1737044569410,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"delete","commonModel":"Attributes","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"patch":{"tags":["Attributes"],"summary":"Update Attributes","description":"Update a single Attributes record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"},{"in":"query","name":"modifyToken","description":"The modified token of the model","deprecated":false,"schema":{"type":"string","format":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Attributes"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"object"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1737044569410,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"update","commonModel":"Attributes","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/balance-sheets":{"description":"List records","get":{"tags":["BalanceSheets"],"summary":"List BalanceSheets","description":"Get all BalanceSheets records","parameters":[{"in":"query","name":"limit","description":"The maximum number of items to return.","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"cursor","description":"A cursor for pagination, indicating the position in the dataset from where to start returning results.","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"createdAfter","description":"Return items that were created after this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"createdBefore","description":"Return items that were created before this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"updatedAfter","description":"Return items that were last updated after this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"updatedBefore","description":"Return items that were last updated before this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"array","items":{"$ref":"#/components/schemas/BalanceSheets"}},"pagination":{"type":"object","properties":{"nextCursor":{"type":"string","format":"string"},"previousCursor":{"type":"string","format":"string"},"limit":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":[{"id":"1001","balanceDate":"2022-03-15","currency":"USD","accountsReceivable":25000,"inventory":50000,"prepaidExpenses":10000,"fixedAssets":200000,"intangibleAssets":50000,"accountsPayable":15000,"accruedLiabilities":10000,"longTermDebt":100000,"equity":150000,"retainedEarnings":50000,"cashAndCashEquivalents":50000,"shortTermInvestments":50000,"propertyPlantEquipment":250000,"accumulatedDepreciation":50000,"shortTermDebt":50000,"taxLiabilities":10000,"deferredRevenue":10000,"otherCurrentLiabilities":15000,"otherCurrentAssets":15000,"otherNonCurrentLiabilities":50000,"otherNonCurrentAssets":50000,"commonStock":100000,"preferredStock":50000,"additionalPaidInCapital":50000,"treasuryStock":20000,"stockholdersEquity":200000,"minorityInterest":5000,"totalLiabilities":400000,"totalAssets":600000,"totalLiabilitiesAndEquity":1000000,"currentAssets":200000,"nonCurrentAssets":400000,"currentLiabilities":100000,"nonCurrentLiabilities":300000,"notesPayable":20000,"notes":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.","createdAt":"2022-03-15T10:00:00Z","updatedAt":"2022-03-15T15:30:00Z","isActive":true,"isDeleted":false,"accountSummary":[{"key":"Cost of Goods Sold","value":"405.00"}],"customFields":[{"id":"1234","fieldName":"Custom Field 1","fieldValue":"Value 1","fieldType":"text"},{"id":"5678","fieldName":"Custom Field 2","fieldValue":"Value 2","fieldType":"number"}],"auditInfo":{"auditorName":"John Doe","auditOpinion":"unqualified","auditDate":"2022-01-01","notes":"Lorem ipsum dolor sit amet."},"modifyToken":"1"}],"passthrough":{},"pagination":{"cursor":"23e6534fa96e810b3","limit":100},"meta":{"timestamp":1737044569461,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getMany","commonModel":"BalanceSheets","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"post":{"tags":["BalanceSheets"],"summary":"Create BalanceSheets","description":"Create a single BalanceSheets record","parameters":[{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BalanceSheets"}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/BalanceSheets"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":"1001","balanceDate":"2022-03-15","currency":"USD","accountsReceivable":25000,"inventory":50000,"prepaidExpenses":10000,"fixedAssets":200000,"intangibleAssets":50000,"accountsPayable":15000,"accruedLiabilities":10000,"longTermDebt":100000,"equity":150000,"retainedEarnings":50000,"cashAndCashEquivalents":50000,"shortTermInvestments":50000,"propertyPlantEquipment":250000,"accumulatedDepreciation":50000,"shortTermDebt":50000,"taxLiabilities":10000,"deferredRevenue":10000,"otherCurrentLiabilities":15000,"otherCurrentAssets":15000,"otherNonCurrentLiabilities":50000,"otherNonCurrentAssets":50000,"commonStock":100000,"preferredStock":50000,"additionalPaidInCapital":50000,"treasuryStock":20000,"stockholdersEquity":200000,"minorityInterest":5000,"totalLiabilities":400000,"totalAssets":600000,"totalLiabilitiesAndEquity":1000000,"currentAssets":200000,"nonCurrentAssets":400000,"currentLiabilities":100000,"nonCurrentLiabilities":300000,"notesPayable":20000,"notes":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.","createdAt":"2022-03-15T10:00:00Z","updatedAt":"2022-03-15T15:30:00Z","isActive":true,"isDeleted":false,"accountSummary":[{"key":"Cost of Goods Sold","value":"405.00"}],"customFields":[{"id":"1234","fieldName":"Custom Field 1","fieldValue":"Value 1","fieldType":"text"},{"id":"5678","fieldName":"Custom Field 2","fieldValue":"Value 2","fieldType":"number"}],"auditInfo":{"auditorName":"John Doe","auditOpinion":"unqualified","auditDate":"2022-01-01","notes":"Lorem ipsum dolor sit amet."},"modifyToken":"1"},"passthrough":{},"meta":{"timestamp":1737044569461,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"create","commonModel":"BalanceSheets","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/balance-sheets/count":{"description":"Get count of records","get":{"tags":["BalanceSheets"],"summary":"Get BalanceSheets count","description":"Get the count of BalanceSheets records","parameters":[{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"object","properties":{"count":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"count":1},"passthrough":{},"meta":{"timestamp":1737044569461,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getCount","commonModel":"BalanceSheets","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/balance-sheets/{id}":{"get":{"tags":["BalanceSheets"],"summary":"Get BalanceSheets","description":"Get a single BalanceSheets record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/BalanceSheets"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":"1001","balanceDate":"2022-03-15","currency":"USD","accountsReceivable":25000,"inventory":50000,"prepaidExpenses":10000,"fixedAssets":200000,"intangibleAssets":50000,"accountsPayable":15000,"accruedLiabilities":10000,"longTermDebt":100000,"equity":150000,"retainedEarnings":50000,"cashAndCashEquivalents":50000,"shortTermInvestments":50000,"propertyPlantEquipment":250000,"accumulatedDepreciation":50000,"shortTermDebt":50000,"taxLiabilities":10000,"deferredRevenue":10000,"otherCurrentLiabilities":15000,"otherCurrentAssets":15000,"otherNonCurrentLiabilities":50000,"otherNonCurrentAssets":50000,"commonStock":100000,"preferredStock":50000,"additionalPaidInCapital":50000,"treasuryStock":20000,"stockholdersEquity":200000,"minorityInterest":5000,"totalLiabilities":400000,"totalAssets":600000,"totalLiabilitiesAndEquity":1000000,"currentAssets":200000,"nonCurrentAssets":400000,"currentLiabilities":100000,"nonCurrentLiabilities":300000,"notesPayable":20000,"notes":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.","createdAt":"2022-03-15T10:00:00Z","updatedAt":"2022-03-15T15:30:00Z","isActive":true,"isDeleted":false,"accountSummary":[{"key":"Cost of Goods Sold","value":"405.00"}],"customFields":[{"id":"1234","fieldName":"Custom Field 1","fieldValue":"Value 1","fieldType":"text"},{"id":"5678","fieldName":"Custom Field 2","fieldValue":"Value 2","fieldType":"number"}],"auditInfo":{"auditorName":"John Doe","auditOpinion":"unqualified","auditDate":"2022-01-01","notes":"Lorem ipsum dolor sit amet."},"modifyToken":"1"},"passthrough":{},"meta":{"timestamp":1737044569461,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getOne","commonModel":"BalanceSheets","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"delete":{"tags":["BalanceSheets"],"summary":"Delete BalanceSheets","description":"Delete a single BalanceSheets record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"},{"in":"query","name":"modifyToken","description":"The modified token of the model","deprecated":false,"schema":{"type":"string","format":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/BalanceSheets"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1737044569461,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"delete","commonModel":"BalanceSheets","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"patch":{"tags":["BalanceSheets"],"summary":"Update BalanceSheets","description":"Update a single BalanceSheets record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"},{"in":"query","name":"modifyToken","description":"The modified token of the model","deprecated":false,"schema":{"type":"string","format":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BalanceSheets"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"object"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1737044569461,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"update","commonModel":"BalanceSheets","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/bills":{"description":"List records","get":{"tags":["Bills"],"summary":"List Bills","description":"Get all Bills records","parameters":[{"in":"query","name":"limit","description":"The maximum number of items to return.","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"cursor","description":"A cursor for pagination, indicating the position in the dataset from where to start returning results.","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"createdAfter","description":"Return items that were created after this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"createdBefore","description":"Return items that were created before this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"updatedAfter","description":"Return items that were last updated after this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"updatedBefore","description":"Return items that were last updated before this date and time (ISO 8601 format).","deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"type":"array","items":{"$ref":"#/components/schemas/Bills"}},"pagination":{"type":"object","properties":{"nextCursor":{"type":"string","format":"string"},"previousCursor":{"type":"string","format":"string"},"limit":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":[{"id":"5f7d9f4e","invoiceNumber":"rtyu","status":"paid","issueDate":"2024-09-30T10:30:00Z","dueDate":"2024-10-15T10:30:00Z","currency":"USD","amountDue":100,"amountPaid":100,"amountRemaining":0,"notes":"Payment received, thank you!","terms":"Payment is due within 15 days","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T10:30:00Z","isActive":true,"isDeleted":false,"vendor":{"id":"6a7b8c9d","companyName":"ABC Corporation","contactName":"John Smith","contactEmail":"johnsmith@example.com","contactPhone":"123-456-7890","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T12:45:00Z","isActive":true,"isDeleted":false,"address":{"id":"1001","contactId":"a2e5f1","accountId":"b3d7g2","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"ABC Inc.","email":"john.doe@example.com","phoneNumber":"123-456-7890","street":"123 Main St","addressLine2":"","city":"New York","province":"New York","region":"Northeast","postalCode":"10001","postalCodeExtension":"1234","country":"United States","countryCode":"US","type":"home","subdivisionCode":"NY","geoLocation":{"latitude":34.0522,"longitude":-118.2437,"altitude":100,"accuracy":10,"altitudeAccuracy":5,"heading":90,"speed":20,"timestamp":"2024-09-30T10:30:00Z"},"customFields":[{"id":"bea5f6d3","fieldName":"First Name","fieldValue":"John","fieldType":"text"}]},"customFields":[{"id":"e7b6f8a9","fieldName":"Employee Name","fieldValue":"John Doe","fieldType":"text"}]},"customer":{"id":"59c8f4f1c3b9a18d1d4a9c8f","title":"Mr","fullName":"John Doe","firstName":"John","middleName":"Michael","lastName":"Doe","email":"johndoe@example.com","phoneNumber":"+1 (555) 123-4567","dateOfBirth":"1990-05-15T00:00:00Z","companyName":"ABC Corporation","companyId":"5e8c7b72","currency":"USD","notes":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.","createdAt":"2022-07-21T12:30:00Z","updatedAt":"2022-09-30T10:30:00Z","status":"active","customerSegment":"Enterprise","customerType":"retail","loyaltyProgramMembership":"Gold","preferredContactMethod":"email","tags":["Tag1","Tag2","Tag3"],"metadata":"{\"key\": \"value\"}","source":"Website","addresses":[{"id":"a1b2c3d4e5f6","contactId":"12ab34cd56ef","accountId":"9876fedcba","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"ABC Company","email":"john.doe@example.com","phoneNumber":"123-456-7890","street":"123 Main St","addressLine2":"Apt 4B","city":"New York","province":"New York","region":"Northeast","postalCode":"10001","postalCodeExtension":"1234","country":"United States","countryCode":"US","type":"home","subdivisionCode":"NY","geoLocation":{"latitude":37.7749,"longitude":-122.4194,"altitude":10,"accuracy":5,"altitudeAccuracy":null,"heading":0,"speed":0,"timestamp":"2024-09-30T10:30:00Z"},"customFields":[{"id":"1001","fieldName":"First Name","fieldValue":"John","fieldType":"text"}]}],"defaultAddress":{"id":"c467f8a9","contactId":"b58e9d3f","accountId":"e24b1c7d","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"ABC Company","email":"johndoe@example.com","phoneNumber":"555-123-4567","street":"123 Main St","addressLine2":"Apt 4B","city":"New York","province":"New York","region":"Northeast","postalCode":"10001","postalCodeExtension":"1234","country":"United States","countryCode":"US","type":"home","subdivisionCode":"NY","geoLocation":{"latitude":37.7749,"longitude":-122.4194,"altitude":10.5,"accuracy":5.2,"altitudeAccuracy":3.8,"heading":90,"speed":20,"timestamp":"2024-09-30T10:30:00Z"},"customFields":[{"id":"1001","fieldName":"Name","fieldValue":"John Doe","fieldType":"text"}]},"socialProfiles":[{"type":"linkedin","username":"johnsmith123","displayName":"John Smith","url":"https://www.linkedin.com/in/johnsmith123","avatarUrl":"https://www.example.com/avatar.jpg","email":"johnsmith@example.com","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T12:45:00Z","isActive":true,"isDeleted":false,"additionalInfo":{"id":"1001","key":"key-123","value":"Lorem ipsum dolor sit amet","type":"String","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T14:45:00Z","entityId":"entity-456","entityType":"User"}}]},"items":[{"id":"6f4a9e","parentId":"b28d1c","productId":"3f9b52","variantId":"0d6b7a","quantity":5,"sku":"ABC123","price":9.99,"currency":"USD","linePrice":49.95,"originalPrice":19.99,"discountedPrice":14.99,"title":"Product A","variantTitle":"Red","weight":1.5,"weightUnit":"lbs","requiresShipping":true,"taxable":true,"fulfillableQuantity":5,"createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T12:45:00Z","isActive":true,"isDeleted":false,"image":{"id":"1001","src":"https://example.com/image.jpg","altText":"Business Professional Image","width":800,"height":600,"thumbnailSrc":"https://example.com/thumbnail.jpg","caption":"A professional image for your business","title":"Business Image","mimeType":"image/jpeg","tags":["business","professional","image"],"createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-10-01T15:45:00Z","isActive":true,"isDeleted":false},"taxLines":[{"price":12.5,"rate":0.08,"title":"Sample Product","taxCode":"ABC123","isInclusive":true,"createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T10:35:00Z","isActive":true,"isDeleted":false,"metadata":{"id":"b7e0b651","key":"example_key","value":"example_value","type":"String","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T10:30:00Z","entityId":"e3c4a7f8","entityType":"example_entity"}}]}],"attachments":[{"id":"a6b4f7c9","fileName":"example.pdf","fileSize":1024,"fileType":"application/pdf","url":"https://example.com/files/a6b4f7c9","thumbnailUrl":"https://example.com/files/a6b4f7c9/thumbnail","previewUrl":"https://example.com/files/a6b4f7c9/preview","content":"This is an example document.","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T10:45:00Z","metadata":{"id":"1001","key":"example","value":"Lorem ipsum dolor sit amet","type":"String","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T13:45:00Z","entityId":"a1b2c3d4","entityType":"User"},"associatedWith":{"entityId":"c3a9f4b1","entityType":"User","attributes":["attribute1","attribute2","attribute3"]},"permissions":{"canView":["user1","user2","user3"],"canEdit":["user1","user2"],"canDelete":["user1"],"roles":["admin","manager"],"accessControlType":"RBAC","identifierType":"String","assigneeDetails":{"identifier":"5a9e2f1d","displayName":"John Doe","type":"User"}}}],"customFields":[{"id":"1001","fieldName":"First Name","fieldValue":"John","fieldType":"text"}],"modifyToken":"1"}],"passthrough":{},"pagination":{"cursor":"23e6534fa96e810b3","limit":100},"meta":{"timestamp":1737044569422,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getMany","commonModel":"Bills","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"post":{"tags":["Bills"],"summary":"Create Bills","description":"Create a single Bills record","parameters":[{"in":"query","name":"passthroughForward","description":"A string of all query parameters to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customParam=sample&customParam2=123"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Bills"}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure"},"statusCode":{"type":"integer","format":"int32"},"unified":{"$ref":"#/components/schemas/Bills"},"passthrough":{"type":"object","additionalProperties":true},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"totalTransactions":{"type":"integer","format":"int32"},"hash":{"type":"string","format":"string"},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"commonModel":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | upsert | update | create | delete"},"commonModelVersion":{"type":"string","format":"string"},"key":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"}}}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":"5f7d9f4e","invoiceNumber":"rtyu","status":"paid","issueDate":"2024-09-30T10:30:00Z","dueDate":"2024-10-15T10:30:00Z","currency":"USD","amountDue":100,"amountPaid":100,"amountRemaining":0,"notes":"Payment received, thank you!","terms":"Payment is due within 15 days","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T10:30:00Z","isActive":true,"isDeleted":false,"vendor":{"id":"6a7b8c9d","companyName":"ABC Corporation","contactName":"John Smith","contactEmail":"johnsmith@example.com","contactPhone":"123-456-7890","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T12:45:00Z","isActive":true,"isDeleted":false,"address":{"id":"1001","contactId":"a2e5f1","accountId":"b3d7g2","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"ABC Inc.","email":"john.doe@example.com","phoneNumber":"123-456-7890","street":"123 Main St","addressLine2":"","city":"New York","province":"New York","region":"Northeast","postalCode":"10001","postalCodeExtension":"1234","country":"United States","countryCode":"US","type":"home","subdivisionCode":"NY","geoLocation":{"latitude":34.0522,"longitude":-118.2437,"altitude":100,"accuracy":10,"altitudeAccuracy":5,"heading":90,"speed":20,"timestamp":"2024-09-30T10:30:00Z"},"customFields":[{"id":"bea5f6d3","fieldName":"First Name","fieldValue":"John","fieldType":"text"}]},"customFields":[{"id":"e7b6f8a9","fieldName":"Employee Name","fieldValue":"John Doe","fieldType":"text"}]},"customer":{"id":"59c8f4f1c3b9a18d1d4a9c8f","title":"Mr","fullName":"John Doe","firstName":"John","middleName":"Michael","lastName":"Doe","email":"johndoe@example.com","phoneNumber":"+1 (555) 123-4567","dateOfBirth":"1990-05-15T00:00:00Z","companyName":"ABC Corporation","companyId":"5e8c7b72","currency":"USD","notes":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.","createdAt":"2022-07-21T12:30:00Z","updatedAt":"2022-09-30T10:30:00Z","status":"active","customerSegment":"Enterprise","customerType":"retail","loyaltyProgramMembership":"Gold","preferredContactMethod":"email","tags":["Tag1","Tag2","Tag3"],"metadata":"{\"key\": \"value\"}","source":"Website","addresses":[{"id":"a1b2c3d4e5f6","contactId":"12ab34cd56ef","accountId":"9876fedcba","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"ABC Company","email":"john.doe@example.com","phoneNumber":"123-456-7890","street":"123 Main St","addressLine2":"Apt 4B","city":"New York","province":"New York","region":"Northeast","postalCode":"10001","postalCodeExtension":"1234","country":"United States","countryCode":"US","type":"home","subdivisionCode":"NY","geoLocation":{"latitude":37.7749,"longitude":-122.4194,"altitude":10,"accuracy":5,"altitudeAccuracy":null,"heading":0,"speed":0,"timestamp":"2024-09-30T10:30:00Z"},"customFields":[{"id":"1001","fieldName":"First Name","fieldValue":"John","fieldType":"text"}]}],"defaultAddress":{"id":"c467f8a9","contactId":"b58e9d3f","accountId":"e24b1c7d","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"ABC Company","email":"johndoe@example.com","phoneNumber":"555-123-4567","street":"123 Main St","addressLine2":"Apt 4B","city":"New York","province":"New York","region":"Northeast","postalCode":"10001","postalCodeExtension":"1234","country":"United States","countryCode":"US","type":"home","subdivisionCode":"NY","geoLocation":{"latitude":37.7749,"longitude":-122.4194,"altitude":10.5,"accuracy":5.2,"altitudeAccuracy":3.8,"heading":90,"speed":20,"timestamp":"2024-09-30T10:30:00Z"},"customFields":[{"id":"1001","fieldName":"Name","fieldValue":"John Doe","fieldType":"text"}]},"socialProfiles":[{"type":"linkedin","username":"johnsmith123","displayName":"John Smith","url":"https://www.linkedin.com/in/johnsmith123","avatarUrl":"https://www.example.com/avatar.jpg","email":"johnsmith@example.com","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T12:45:00Z","isActive":true,"isDeleted":false,"additionalInfo":{"id":"1001","key":"key-123","value":"Lorem ipsum dolor sit amet","type":"String","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T14:45:00Z","entityId":"entity-456","entityType":"User"}}]},"items":[{"id":"6f4a9e","parentId":"b28d1c","productId":"3f9b52","variantId":"0d6b7a","quantity":5,"sku":"ABC123","price":9.99,"currency":"USD","linePrice":49.95,"originalPrice":19.99,"discountedPrice":14.99,"title":"Product A","variantTitle":"Red","weight":1.5,"weightUnit":"lbs","requiresShipping":true,"taxable":true,"fulfillableQuantity":5,"createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T12:45:00Z","isActive":true,"isDeleted":false,"image":{"id":"1001","src":"https://example.com/image.jpg","altText":"Business Professional Image","width":800,"height":600,"thumbnailSrc":"https://example.com/thumbnail.jpg","caption":"A professional image for your business","title":"Business Image","mimeType":"image/jpeg","tags":["business","professional","image"],"createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-10-01T15:45:00Z","isActive":true,"isDeleted":false},"taxLines":[{"price":12.5,"rate":0.08,"title":"Sample Product","taxCode":"ABC123","isInclusive":true,"createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T10:35:00Z","isActive":true,"isDeleted":false,"metadata":{"id":"b7e0b651","key":"example_key","value":"example_value","type":"String","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T10:30:00Z","entityId":"e3c4a7f8","entityType":"example_entity"}}]}],"attachments":[{"id":"a6b4f7c9","fileName":"example.pdf","fileSize":1024,"fileType":"application/pdf","url":"https://example.com/files/a6b4f7c9","thumbnailUrl":"https://example.com/files/a6b4f7c9/thumbnail","previewUrl":"https://example.com/files/a6b4f7c9/preview","content":"This is an example document.","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T10:45:00Z","metadata":{"id":"1001","key":"example","value":"Lorem ipsum dolor sit amet","type":"String","createdAt":"2024-09-30T10:30:00Z","updatedAt":"2024-09-30T13:45:00Z","entityId":"a1b2c3d4","entityType":"User"},"associatedWith":{"entityId":"c3a9f4b1","entityType":"User","attributes":["attribute1","attribute2","attribute3"]},"permissions":{"canView":["user1","user2","user3"],"canEdit":["user1","user2"],"canDelete":["user1"],"roles":["admin","manager"],"accessControlType":"RBAC","identifierType":"String","assigneeDetails":{"identifier":"5a9e2f1d","displayName":"John Doe","type":"User"}}}],"customFields":[{"id":"1001","fieldName":"First Name","fieldValue":"John","fieldType":"text"}],"modifyToken":"1"},"passthrough":{},"meta":{"timestamp":1737044569423,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"create","commonModel":"Bills","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}}},"parameters":[{"in":"header","name":"X-PICA-SECRET","description":"Pica API key","required":true,"deprecated":false,"schema":{"default":"{{pica-api-key}}","type":"string","format":"string"}},{"in":"header","name":"X-PICA-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"default":"{{pica-connection-key}}","type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"},{"in":"header","name":"X-PICA-ENABLE-PASSTHROUGH","description":"Set to true to receive the exact API response from the connection platform in the passthrough object","deprecated":false,"schema":{"type":"string","format":"string"},"example":"true"},{"in":"header","name":"X-PICA-PASSTHROUGH-FORWARD","description":"A string of all headers to forward in the request to the 3rd-party platform","deprecated":false,"schema":{"type":"string","format":"string"},"example":"customHeader=sample;customHeader2=123"}]},"/bills/count":{"description":"Get count of records","get":{"tags":["Bills"],"summary":"Get Bills count","description":"Ge
[...]
